@model MVC_Lab.Models.ApplicationUser

@{
    ViewBag.Title = "Edit a user";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("EditEntry", "User", FormMethod.Post, htmlAttributes: new { @class = "create-entry__form" })) {
    @Html.HiddenFor(model => model.Id)

    <label>User Name</label>
    @Html.TextBoxFor(model => model.UserName, new { @required = "required" })

    <label>Email</label>
    @Html.TextBoxFor(model => model.Email, new { @required = "required" })

    <input type="submit" value="Edit" />
}
