@{
    ViewBag.Title = "Home Page";
}
<div>
    <img class="home__missing" src="~/images/missing-person.jpg" alt="Missing People" />
</div>

<div class="row home__row">
    <div class="col-md-8">
        <h2>Missing Person</h2>
        <p>
            A missing person is a person who has disappeared and whose status as alive or dead cannot be confirmed as their location and condition are not known.
            A person may go missing through a voluntary disappearance, or else due to an accident, crime, death in a location where they cannot be found (such as at sea),
            or many other reasons. In most parts of the world, a missing person will usually be found quickly. While criminal abductions are some of the most widely
            reported missing person cases, these account for only 2–5% of missing children in Europe.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/images/missing.png" alt="Missing people statistics" />
    </div>
</div>